# Server (Heroku sets PORT automatically; defaults to 3000 locally)
PORT=3000

# DATABASE
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

# JWT
JWT_SECRET=

# TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# OPEN AI
OPENAI_PROJECT_ID=
OPENAI_ORGANIZATION=
OPENAI_API_KEY=